@font-face {
  font-family: "Toyota Type";
  src: url("/fonts/toyota-type/ToyotaType-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Toyota Type";
  src: url("/fonts/toyota-type/ToyotaType-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Toyota Type";
  src: url("/fonts/toyota-type/ToyotaType-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Toyota Type";
  src: url("/fonts/toyota-type/ToyotaType-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Toyota Type";
  src: url("/fonts/toyota-type/ToyotaType-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Toyota Type";
  src: url("/fonts/toyota-type/ToyotaType-SemiboldIt.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
